<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.goods.dao.CartDao">

	<select id="get" resultType="com.meiguo.goods.domain.CartDO">
		select `cart_id`,`goods_id`,`user_id`,`buy_number`,`create_time`,`update_time`,`check_status` from mall_cart where cart_id = #{value}
	</select>

	<select id="list" resultType="com.meiguo.goods.domain.CartDO">
		select `cart_id`,`goods_id`,`user_id`,`buy_number`,`create_time`,`update_time`,`check_status` from mall_cart
        <where>  
		  		  <if test="cartId != null and cartId != ''"> and cart_id = #{cartId} </if>
		  		  <if test="goodsId != null and goodsId != ''"> and goods_id = #{goodsId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="buyNumber != null and buyNumber != ''"> and buy_number = #{buyNumber} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="checkStatus != null and checkStatus != ''"> and check_status = #{checkStatus} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cart_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from mall_cart
		 <where>  
		  		  <if test="cartId != null and cartId != ''"> and cart_id = #{cartId} </if>
		  		  <if test="goodsId != null and goodsId != ''"> and goods_id = #{goodsId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="buyNumber != null and buyNumber != ''"> and buy_number = #{buyNumber} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="checkStatus != null and checkStatus != ''"> and check_status = #{checkStatus} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.meiguo.goods.domain.CartDO" useGeneratedKeys="true" keyProperty="cartId">
		insert into mall_cart
		(
			`goods_id`, 
			`user_id`, 
			`buy_number`, 
			`create_time`, 
			`update_time`, 
			`check_status`
		)
		values
		(
			#{goodsId}, 
			#{userId}, 
			#{buyNumber}, 
			#{createTime}, 
			#{updateTime}, 
			#{checkStatus}
		)
	</insert>
	 
	<update id="update" parameterType="com.meiguo.goods.domain.CartDO">
		update mall_cart 
		<set>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="buyNumber != null">`buy_number` = #{buyNumber}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="checkStatus != null">`check_status` = #{checkStatus}</if>
		</set>
		where cart_id = #{cartId}
	</update>
	
	<delete id="remove">
		delete from mall_cart where cart_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from mall_cart where cart_id in 
		<foreach item="cartId" collection="array" open="(" separator="," close=")">
			#{cartId}
		</foreach>
	</delete>

</mapper>