<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.owneruser.dao.ChengjiuAddDao">

	<select id="get" resultType="com.meiguo.owneruser.dao.ChengjiuAddDao">
		select `id`,`chengjiu_name`,`chengjiu_ico`,`chengjiu_demand`,`reward`,`add_time`,`update_time`,`delete_flag`,`username`,`start_time`,`end_time` from t_chengjiu_add where id = #{value}
	</select>

	<select id="list" resultType="com.meiguo.owneruser.dao.ChengjiuAddDao">
		select `id`,`chengjiu_name`,`chengjiu_ico`,`chengjiu_demand`,`reward`,`add_time`,`update_time`,`delete_flag`,`username`,`start_time`,`end_time` from t_chengjiu_add
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="chengjiuName != null and chengjiuName != ''"> and chengjiu_name = #{chengjiuName} </if>
		  		  <if test="chengjiuIco != null and chengjiuIco != ''"> and chengjiu_ico = #{chengjiuIco} </if>
		  		  <if test="chengjiuDemand != null and chengjiuDemand != ''"> and chengjiu_demand = #{chengjiuDemand} </if>
		  		  <if test="reward != null and reward != ''"> and reward = #{reward} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_chengjiu_add
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="chengjiuName != null and chengjiuName != ''"> and chengjiu_name = #{chengjiuName} </if>
		  		  <if test="chengjiuIco != null and chengjiuIco != ''"> and chengjiu_ico = #{chengjiuIco} </if>
		  		  <if test="chengjiuDemand != null and chengjiuDemand != ''"> and chengjiu_demand = #{chengjiuDemand} </if>
		  		  <if test="reward != null and reward != ''"> and reward = #{reward} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.meiguo.owneruser.dao.ChengjiuAddDao" useGeneratedKeys="true" keyProperty="id">
		insert into t_chengjiu_add
		(
			`chengjiu_name`, 
			`chengjiu_ico`, 
			`chengjiu_demand`, 
			`reward`, 
			`add_time`, 
			`update_time`, 
			`delete_flag`, 
			`username`, 
			`start_time`, 
			`end_time`
		)
		values
		(
			#{chengjiuName}, 
			#{chengjiuIco}, 
			#{chengjiuDemand}, 
			#{reward}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleteFlag}, 
			#{username}, 
			#{startTime}, 
			#{endTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.meiguo.owneruser.dao.ChengjiuAddDao">
		update t_chengjiu_add 
		<set>
			<if test="chengjiuName != null">`chengjiu_name` = #{chengjiuName}, </if>
			<if test="chengjiuIco != null">`chengjiu_ico` = #{chengjiuIco}, </if>
			<if test="chengjiuDemand != null">`chengjiu_demand` = #{chengjiuDemand}, </if>
			<if test="reward != null">`reward` = #{reward}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="startTime != null">`start_time` = #{startTime}, </if>
			<if test="endTime != null">`end_time` = #{endTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_chengjiu_add where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_chengjiu_add where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>