<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						   <div class="form-group">	
								<label class="col-sm-2 control-label">货品名称：</label>
								<div class="col-sm-3">
									<input id="name" name="name" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">所属产品：</label>
								<div class="col-sm-3">
									<select class="form-control" name="productId" id="productId" onchange="getGoodsSpec()">
										<option value="">请选择产品类型</option>
                        				<option  th:each="list:${productList}" th:value="${list.id}" th:text="${list.name }"></option>
                    				</select>
								</div>
							</div>
																												
							<div class="form-group">	
								<label class="col-sm-2 control-label">货品条形码号：</label>
								<div class="col-sm-3">
									<input id="tgoodsNumber" name="tgoodsNumber" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">货品编号：</label>
								<div class="col-sm-3">
									<input id="goodsNumber" name="goodsNumber" class="form-control" type="text">
								</div>
							</div>
																												
																												
							<div class="form-group">	
								<label class="col-sm-2 control-label"> 折扣价：</label>
								<div class="col-sm-3">
									<input id="discountPrice" name="discountPrice" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label"> 售价：</label>
								<div class="col-sm-3">
									<input id="payPrice" name="payPrice" class="form-control" type="text">
								</div>
							</div>
																												
																												<div class="form-group">	
								<label class="col-sm-2 control-label"> 会员价：</label>
								<div class="col-sm-3">
									<input id="vipPrice" name="vipPrice" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label"> 促销价：</label>
								<div class="col-sm-3">
									<input id="promotionPrice" name="promotionPrice" class="form-control" type="text">
								</div>
							</div>
																											
										
									
							<div class="form-group">	
								<label class="col-sm-2 control-label">库存总量：</label>
								<div class="col-sm-8">
									<input id="total" name="total" class="form-control" type="text">
								</div>
							</div>																		
							<div class="form-group" id="add">	
								<label class="col-sm-2 control-label">货品详情描述：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" >	
								<label class="col-sm-2 control-label">货品列表图：</label>
								<div class="col-sm-8" >
									<input class="form-control" id="listimg" style="display: none;" type="file" name="listimg" onchange="udpateFileUrl(this)" />
									<label for="listimg"><img width="100" height="100" id="fileImgimgFile" alt="点击上传图片" src="/img/tousu-pic1.jpg"></label>
									<span style="color: red;">(750*718)</span>
								</div>
							</div>
							<div class="form-group" >	
								<label class="col-sm-2 control-label">货品图：</label>
								<div class="col-sm-8" id="divimg">
									<input class="form-control" id="goodsimg" style="display: none;" type="file" name="goodsimg" onchange="udpateFileUrl(this)" />
									<label for="goodsimg"><img width="100" height="100" id="fileImgimgFile1" alt="点击上传图片" src="/img/tousu-pic1.jpg"></label>
									<label><img width="20" height="20" id="fileImgimgadd1" alt="点此继续添加图片" src="/img/add_icon.jpg"></label>
									<label><img width="20" height="20" name="fileImgimgdelete" alt="点此删除图片" src="/img/timg.jpg"></label>
									<span style="color: red;">(750*718)</span>
								</div>
							</div>
							<div class="form-group" >	
								<label class="col-sm-2 control-label">货品详情图：</label>
								<div class="col-sm-8" id="divimg1" >
									<input class="form-control" id="detailimg" style="display: none;" type="file" name="detailimg" onchange="udpateFileUrl(this)" />
									<label for="detailimg"><img width="100" height="100" id="fileImgimgFile2" alt="点击上传图片" src="/img/tousu-pic1.jpg"></label>
									<label><img width="20" height="20" id="fileImgimgadd2" alt="点此继续添加图片" src="/img/add_icon.jpg"></label>
									<label><img width="20" height="20" name="fileImgimgdelete" alt="点此删除图片" src="/img/timg.jpg"></label>
									<span style="color: red;">(750*718)</span>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/goods/add.js"></script>
	<script type="text/javascript">
		function udpateFileUrl(obj){
			var fileURL = getObjectURL(obj.files[0]);
			if(fileURL) {
				$(obj).next().children("img").attr("src",fileURL);
			}
		}
		
		//建立一個可存取到該file的url
		function getObjectURL(file) {
			var url = null ; 
			if (window.createObjectURL!=undefined) { // basic
				url = window.createObjectURL(file) ;
			} else if (window.URL!=undefined) { // mozilla(firefox)
				url = window.URL.createObjectURL(file) ;
			} else if (window.webkitURL!=undefined) { // webkit or chrome
				url = window.webkitURL.createObjectURL(file) ;
			}
			return url;
		}
		
		
		//继续添加图片
		//添加货品图
		$("#fileImgimgadd1").click(function(){
			if($("#divimg img").length>6){
				alert("货品图最多只能添加5张图片");
				return ;
			}
			if($("#divimg label img").eq(-3).attr("src")=="/img/tousu-pic1.jpg"){
				alert("请先添加当前的文件");
				return ;
			} 
			var index = $("#divimg img").length;
			var imgadd="";
			imgadd+='<input class="form-control" id="goodsimg'+index+'" style="display: none;" type="file" name="goodsimg" onchange="udpateFileUrl(this)" />'
			imgadd += '&nbsp;&nbsp;&nbsp<label for="goodsimg'+index+'"><img width="100" height="100" id="fileImgimgFile" alt="点击上传图片" src="/img/tousu-pic1.jpg"></label>';
			$("#divimg label").eq(-3).after(imgadd);//$(this).before(imgadd);
			
		});
		
		//添加货品详情图
		$("#fileImgimgadd2").click(function(){
			if($("#divimg1 label img").eq(-3).attr("src")=="/img/tousu-pic1.jpg"){
				alert("请先添加当前的文件");
				return ;
			} 
			var index = $("#divimg1 img").length;
			var imgadd="";
			imgadd+='<input class="form-control" id="detailimg'+index+'" style="display: none;" type="file" name="detailimg" onchange="udpateFileUrl(this)" />'
			imgadd += '&nbsp;&nbsp;&nbsp<label for="detailimg'+index+'"><img width="100" height="100" id="fileImgimgFile" alt="点击上传图片" src="/img/tousu-pic1.jpg"></label>';
			$("#divimg1 label").eq(-3).after(imgadd);//$(this).before(imgadd);
			
		});
		
		//图片删除
		$("[name='fileImgimgdelete']").click(function(){
			if($(this).parent().parent().children("label").length==3){
				alert("无法删除");
				return;
			}
			else{
				$(this).parent().parent().children("input").eq(-1).remove();
				$(this).parent().parent().children("label").eq(-3).remove();
			}
		})
	</script>
	
	
</body>
</html>
