<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.reward.dao.UserRewardMidDao">

	<select id="get" resultType="com.meiguo.reward.domain.UserRewardMidDO">
		select `id`,`user_id`,`reward_id`,`win_time` from t_user_reward_mid where id = #{value}
	</select>

	<select id="list" resultType="com.meiguo.reward.domain.UserRewardMidDO">
		select `id`,`user_id`,`reward_id`,`win_time` from t_user_reward_mid
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="rewardId != null and rewardId != ''"> and reward_id = #{rewardId} </if>
		  		  <if test="winTime != null and winTime != ''"> and win_time = #{winTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user_reward_mid
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="rewardId != null and rewardId != ''"> and reward_id = #{rewardId} </if>
		  		  <if test="winTime != null and winTime != ''"> and win_time = #{winTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.meiguo.reward.domain.UserRewardMidDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_user_reward_mid
		(
			`user_id`, 
			`reward_id`, 
			`win_time`
		)
		values
		(
			#{userId}, 
			#{rewardId}, 
			#{winTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.meiguo.reward.domain.UserRewardMidDO">
		update t_user_reward_mid 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="rewardId != null">`reward_id` = #{rewardId}, </if>
			<if test="winTime != null">`win_time` = #{winTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_user_reward_mid where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_user_reward_mid where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="byListId" resultType="com.meiguo.reward.domain.UserRewardMidDO">
		SELECT 
		tur.id,
		ct.coupon_name as ctName,
		date_format(tur.win_time, '%Y-%m-%d %H:%i:%s') as winTime
		FROM t_user_reward_mid tur 
		LEFT JOIN (select coupon_id id, coupon_name from t_user_coupon UNION SELECT id, title_name from t_user_title) ct on tur.reward_id = ct.id
		LEFT JOIN t_user_coupon uc on uc.coupon_id = tur.reward_id 
		LEFT JOIN t_user_title ut on ut.id = tur.reward_id
		LEFT JOIN t_user tu on tu.id = tur.user_id where tu.id = #{id}
	</select>

</mapper>