<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="images/logo_bank_gfyh.png" type="image/x-icon"/>
<link rel="stylesheet" href="/css/base.css" type="text/css">
<title>首页</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
<script src="/js/plugins/layer/layer.js"></script>
<style type="text/css">
  .zhx{ text-decoration:line-through;}
  
</style>
</head>
<body>
<!-- 商品图片展示 -->
<div id="focus" class="focus">
<div class="hd"><ul></ul></div>
    <div class="bd">
        <ul class="goodsimg">
        </ul>
    </div>
    
</div>




<!--货品的规格参数-->
<div style="font-size: 15px;width: 750px;min-height:15px;" >
	<span style="color: red">选择参数</span>
	<select class="form-control" name="spec" id="spec" onchange="change()">
        <option  th:each="list:${goodsDOList}" th:value="${list.id}" th:text="${list.spec }"></option>
    </select>
  <br>
    <span style="color: red">购买量</span>
    <em><input id="buyNumber"  name="buyNumber" type="text"></em>
    <!--货品的名称  价格-->
	<div style="font-size: 15px;" >
		<p>原价：￥<span class="payPrice">0.00</span></p>
		<p style="display: none;">优惠价：￥<span class="vipPrice">0.00</span></p>
		<p>库存：<span class="surplus"></span></p>	
		<p>宝贝描述：<span class="remarks"></span></p>
		<span style="display: none;" class="goodsId"></span>
	</div>
</div>

<!--产品详图 -->
<div class="imgxingqing">
	<p style="text-align: center;font-size: 15px">详情</p>
	
</div>


<!--底部  购物车  联系客服-->
<div>
	<div style="font-size: 10px;display:inline-block;">
  	 	<img alt="联系客服" src="/img/kefu.jpg" width="50px;" height="50px;"> <br><span>联系客服</span>  
  	</div>
  	<div style="font-size: 16px;color: blue; display: inline-block;">
  	 <span onclick="jiarugouwuche()">加入购物车</span>	<span onclick="goumai()">立即购买</span>
  	</div>
</div>


</body>
</html>

<script th:inline="javascript">
change();
function change(){
	var goodsId=$("#spec").val();
	$.ajax({
		cache : true,
		type : "POST",
		url : "/information/goods/selectGoods",
		data : {"goodsId":goodsId},
		async : false,
		success : function(data) {console.info(data);
			var goodsDO = data.goodsDO;
			$(".payPrice").text(goodsDO.payPrice);
			$(".goodsId").text(goodsDO.id);
			if(goodsDO.vipPrice!=null){
				$(".payPrice").addClass("zhx");
				$(".vipPrice").text(goodsDO.vipPrice);
				$(".vipPrice").parent().show();
				$(".surplus").text(goodsDO.surplus);
				$(".remarks").text(goodsDO.remarks);
			}
			var detailimgList=data.detailimgList;
			var html="";
			$(".imgxingqing").find("ul").remove();
			for(var i=0;i<detailimgList.length;i++){
				html+="<ul>";
				html+="<li><img src='"+detailimgList[i].url+"'/></li>"
			}
			html+="</ul>";
			$(".imgxingqing").append(html);
			var goodsimgList=data.goodsimgList;
			var html1="";
			$(".goodsimg").html(html1);
			for(var i=0;i<goodsimgList.length;i++){
			   html1+="<li><a href=''><img src='"+goodsimgList[i].url+"'/></a></li>"
			}
			$(".goodsimg").html(html1);
			TouchSlide({ 
			    slideCell:"#focus",
			    titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			    mainCell:".bd ul", 
			    effect:"left", 
			    autoPlay:true,//自动播放
			    autoPage:true //自动分页c" 
			});
		}
	});
}
$("#buyNumber").blur(function(){
	var number=$(this).val();
	var surplus=$(".surplus").text();
	if(parseInt(number)>parseInt(surplus)){
		alert("库存不足");
		$(this).val('');
	}
})
//立即购买
function goumai(){
	var buyNumber = $("#buyNumber").val();
	if(buyNumber==0)
		buyNumber=1;
	var pos = [{goodsId:$("#spec").val(),buyNumber:buyNumber}]; 
	$.ajax({
    	url: "/information/goods/buy",
    	type: "POST",
    	contentType: "application/json",
	    data: JSON.stringify(pos),
    	success: function(r){
//    		l2.hide();
   		if(r.code == 0){
   			
   			var orderNo = r.msg;
//			window.location.href="/system/order/confirm/"+orderNo;
   			window.location.href="/system/order?orderNo="+orderNo;
   		}
    		/* else if(r.errcode == 20110){
    			alert(r.errmsg);
    			$.go("/order/mylist.html");
    			return;
    		} */
 //   		alert(r.errmsg);
    	}
	});
}


//加入购物车
function jiarugouwuche(){
	var goodsId =$(".goodsId").text();
	$.ajax({
		type : "POST",
		url : "/system/cart/save",
		data : {'goodsId':goodsId},
		async : false,
		error : function(request) {
			parent.layer.alert("Connection error");
		},
		success : function(data) {console.info(data.code);
			if (data.code==0) {
				alert(data.msg);

			}
			else {
				alert('加入失败');
			}

		}
	}); 
}
	
</script>
<script type="text/javascript" src="/js/goods/detail.js"></script>

