<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="images/logo_bank_gfyh.png" type="image/x-icon"/>
<link rel="stylesheet" href="/css/base.css" type="text/css">
<title>我的</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
<script src="/js/plugins/layer/layer.js"></script>
<style>
input{width: 3.5rem;height: .9rem;float: right;color: #8e8e8e;margin-right:.25rem;font-size:.3rem;line-height:.9rem;text-align: right;}
.toux input{margin-top:.25rem;}
</style>


</head>
<body>
<div class="Top"><a href="/owner/user"><span>&nbsp;</span></a>商品评价<a onclick="edit();"  style="font-size:.28rem;color:#333;position:absolute;top:0;right:.24rem;">编辑</a></div>





<form class="img_form" action="">
	<input id="xFile" type="file" accept="image/png, image/jpeg, image/gif, image/jpg" name="xFile" style="display: none;">
</form>
<div class="tousu-online">
    <div class="wenzi"><textarea name="content" id="content" cols="30" rows="10" placeholder="请输入你想说的内容，给其他想买的小伙伴做个参考呗" ></textarea></div>
    <ul class="tousu-pic">
        <li><img src="/img/tousu-pic1.jpg" alt="" id="uploadBtn"/></li>
        <li><input type="text" th:value="${goodsId}" name="productId" id="productId"></input></li>
		<li><input type="text" th:value="${orderProductId}" name="orderProductId" id="orderProductId"></input></li>
		<li><input type="text" th:value="${orderId}" name="orderId" id="orderId"></input></li>
    </ul>
</div>



 <div class="tuichu" style="background-color:red"><a onclick="confim();" style="color: #fff">确定</a></div>

<script type="text/javascript">
	function confim(){
		var pingjia={};
		pingjia.productId=$("#productId").val();
		pingjia.orderProductId = $("#orderProductId").val();
		pingjia.orderId=$("#orderId").val();
		pingjia.content=$("#content").val();
		pingjia.picImgs=[];
		$(".showPic").each(function(i,e){
			pingjia.picImgs[i] = {
				picImg: $(e).attr("src"),
				sort: i
			};
		});
		$.ajax({
			type : "POST",
			url : "/system/productComment/save",
			contentType: "application/json",
		    data: JSON.stringify(pingjia),
			dataType : "json",
			success : function(result) {
			
				if (result.code == 0) {//添加成功
					
				} else {
				
				}
			}
		});
	}
	function compress(param){
		var setting = {
			width: 320,
			height: 320,
			afterComplete: function(data){
				
			}
		};
		
		setting = $.extend(setting,param);
	    var reader = new FileReader();
	    reader.onload = function (e) {
	        //加载图片完成，取得图片的base64                
	        imgObj = e.target.result;
	        var image = new Image();
	        image.src = imgObj;
	        image.onload = function () {  //创建一个image对象，给canvas绘制使用  
	            var cvs = document.createElement('canvas');
	            var scale = 1;
	            if (this.width > setting.width || this.height > setting.height) {  //1000只是示例，可以根据具体的要求去设定    
	                if (this.width > this.height) {
	                    scale = setting.width / this.width;
	                } else {
	                    scale = setting.height / this.height;
	                }
	            }
	            cvs.width = this.width * scale;
	            cvs.height = this.height * scale;     //计算等比缩小后图片宽高  
	            var ctx = cvs.getContext('2d');
	            ctx.drawImage(this, 0, 0, cvs.width, cvs.height);
	            setting.afterComplete(cvs.toDataURL('image/png'));
	        }    
	    }
	    reader.readAsDataURL(xFile.files[0]);
	}

		
	
	$("#uploadBtn").click(function(){
		if($(".showPic").length>= 10){
			alert("最多上传十张图片");
			return;
		}
		$("#xFile").click();
	});
	
	$('#xFile').bind('change',function(){
		compress({afterComplete: function(imgData){
			var imgLi = $('<li><img src="" alt="" class="showPic"/><i class="close"></i></li>');
			imgLi.find("img").attr("src",imgData);
			imgLi.insertBefore($("#uploadBtn").parent());
			$(".tousu-pic .close").unbind("click");
			$(".tousu-pic .close").click(function(){
				$(this).parent().remove();
			});
		}});
	});
</script>
</body>
</html>

