<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/img/logo_bank_gfyh.png" type="image/x-icon"/>
<link rel="stylesheet" href="/css/base.css" type="text/css">
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
<script type="text/javascript" src="/js/plugins/dialog/dialog.js"></script>
<link rel="stylesheet" href="/js/plugins/dialog/diglog.css" type="text/css">


<title>新闻公告</title>

</head>
<body>
<!--头部-->
<div class="news-tit font-36">
	<p class="fl" style="font-size: .3rem;width: .95rem;height: .9rem;text-align: right;background: url(../img/fanhui.png) no-repeat left center;-webkit-background-size: .24rem .44rem;background-size: .24rem .44rem; position: absolute;left: .24rem;top: 0;" 
	onclick="javascript:location.href='/index';"></p>
	<span onclick="javascript:location.href = '/index'">&nbsp;</span><span>电子烟</span>
	
</div>
<!--新闻公告导航-->
<div class="news-daoh bg-white font-30" >
	<ul>
		<li th:class="${type == 0 ? 'on' : ''}" ><span onclick="dingdanjilu(0)">待支付</span></li>
		<li th:class="${type == 1 ? 'on' : ''}" ><span onclick="dingdanjilu(1)">已支付</span></li>
		<li th:class="${type == 2 ? 'on' : ''}" ><span onclick="dingdanjilu(2)">已发货</span></li>
		<li th:class="${type == 3 ? 'on' : ''}" ><span onclick="dingdanjilu(3)">已完成</span></li>
	</ul>
</div>
<!--新闻公告详情-->
<div class="news-xiang" id="jilu" style="font-size: 15px; display: inline-block;">
		
</div>

<div class="ui-dialog" style="overflow:scroll; ">
	<div class="ui-dialog-cnt" style="width: 90%;top: 5%;">
		<header class="ui-dialog-hd ui-border-b">
			<h3>查看物流</h3>
			<i class="ui-dialog-close" data-role="button"></i>
		</header>
		<div class="ui-dialog-bd">
			<div class="result-success" id="success" style="display: block;">
				<div class="result-top" id="resultTop">
					<span id="sortSpan" class="col1-up" title="切换排序">时间</span> <span
						class="col2">地点和跟踪进度</span>
				</div>
				<ul id="result" class="result-list sortup">
				</ul>
			</div>
		</div>
	</div>
</div>


<!--底部-->
<div class="bottom font-22">
	<ul>
		<a href="/index"><li class="sy">首页</li></a>
		<a href="/owner/user"><li class="wode on">我的</li></a>
	</ul>
	<a href="/jiaofei/wuye"><img  src="/img/jiaofei.png" alt=""/></a>
</div>

</body>
</html>
<script type="text/javascript">

	 function dingdanjilu(orderStatus){
		 $("#jilu").children().remove();
		$.ajax({
			cache : true,
			type : "POST",
			url : "/system/order/checkjilu",
			data : {'orderStatus':orderStatus},
			async : false,
			error : function(request) {
				parent.layer.alert("Connection error");
			},
			success : function(data) {
				if (data) {
					var jilu='';
					for(var i=0;i<data.length;i++){
						jilu+='<div style="margin-top: 20px;">';
						jilu+='<span>订单编号：'+data[i].orderNo+'</span><br>';
						for(var j=0;j<data[i].list.length;j++){
							var orderproduct = data[i].list[j];
							jilu+='<span onclick="getGoodsDetail('+orderproduct.goodsId+')"><img width="50" height="50" alt="" src="'+orderproduct.picImg+'"></span>';
							jilu+='<span>'+orderproduct.spec+'</span>';
							jilu+='<span> 购买量'+orderproduct.buyNumber+'</span><br>';
						}
						jilu+='<span>收货人：'+data[i].consignee+'</span><br>';
						jilu+='<span>电话：'+data[i].mobile+'</span><br>';
						jilu+='<span>地址：'+data[i].address+'</span><br>';
						jilu+='<span>金额：'+data[i].orderAmount+'</span>&nbsp;&nbsp;';
						if(orderStatus==0)
							jilu+='<a style="color:green;" href="/system/order?orderNo='+data[i].orderNo+' ">去支付</a>&nbsp;&nbsp;<span style="color:red" onclick="removeOrder('+data[i].id+','+ orderStatus+')">删除订单</span>';
						if(orderStatus==1)
				//			jilu+='<a style="color:green;" href="/system/order?orderNo='+data[i].orderNo+' ">去支付</a>&nbsp;&nbsp;<span style="color:red" onclick="removeOrder('+data[i].id+','+ orderStatus+')">删除订单</span>';
						if(orderStatus==2)
							jilu+='<span style="color:green;" onclick="kuaidiQuery('+data[i].postid+')">查看物流</span>&nbsp;&nbsp;<span style="color:red"; onclick="confirmReceive('+data[i].id+')">确认收货</span>';
						if(orderStatus==3)
							jilu+='<span style="color:green;" onclick="removeOrder('+data[i].id+','+ orderStatus+')">删除订单</span></div>';
						$("#jilu").append(jilu);
						jilu='';
					}
				} else {
					
				}

			}
		});
		}
		dingdanjilu(0);
		
		function getGoodsDetail(id){
			window.location.href="/information/goods/getGoodsDetail?goodsId="+id;
		}
		//删除订单
		function removeOrder(id,orderStatus){
			$.ajax({
				cache : true,
				type : "POST",
				url : "/system/order/remove/"+id,
				async : false,
				error : function(request) {
					parent.layer.alert("Connection error");
				},
				success : function(data) {
					if(data.code==0)
						dingdanjilu(orderStatus);
				}
			});
		}
		
		//确认收货
		function confirmReceive(id){
			$.ajax({
				cache : true,
				type : "POST",
				url : "/system/order/confirmReceive/"+id,
				async : false,
				error : function(request) {
					parent.layer.alert("Connection error");
				},
				success : function(data) {
					if(data.code==0)
						dingdanjilu(3);
				}
			});
		}
		
		//查看物流
  function kuaidiQuery(postid){

	$.ajax({
        type: 'GET',
        url: '/system/order/kuaid100Query',
        data:{
        	postid: postid
        },
        success: function(data){
        	if(data.code == 0){
        		var datas = data.msg;
        		datas.sort(function(o1,o2){
        			return o1.time - o2.time;
        		});
        		var html = '';
        		for(var i=datas.length-1;i>-1;i--){
        			var item = datas[i];
        			if(i == datas.length - 1){
        				html += '<li class="last finish">';
        			}else{
        				html += '<li>';
        			}
        			
        			var date = new Date(parseInt(item.time));
        			html += '	<div class="col1">';
        			html += '		<dl>';
        			html += '			<dt>'+date.format("yyyy-MM-dd")+'</dt>';
        			html += '			<dd>'+date.format("hh:ss")+'</dd>';
        			html += '		</dl>';
        			html += '	</div>';
        			html += '	<div class="col2">';
        			html += '		<span></span>';
        			html += '	</div>';
        			html += '	<div class="col3">'+item.context+'</div>';
        			html += '</li>';
        		}
        		$(".ui-dialog").dialog("show");
        		$("#result").html(html);
        		return;
        	}
       		alert(data.msg);
        }
    }); 
}
	
</script>
