<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																			<div class="form-group">	
								<label class="col-sm-3 control-label">产品编号：</label>
								<div class="col-sm-8">
									<input id="productNumber" name="productNumber" class="form-control" type="text">
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">产品分类：</label>
								<div class="col-sm-8">
									<select class="form-control" name="categoryId">
                        			 	<option></option>
                        				<option  th:each="list:${list1}" th:value="${list.id}" th:text="${list.name }"></option>
                    				</select>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">产品规格：</label>
								<div class="col-sm-8">
									 <select class="form-control" name="specId" onchange="getSpec()">
                        			 	<option></option>
                        				<option  th:each="list:${list}" th:value="${list.id}" th:text="${list.name }"></option>
                    				</select>
								</div>
							</div>
																												<div class="form-group">	
								<label class="col-sm-3 control-label">产品名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" class="form-control" type="text">
								</div>
							</div>																			
																												<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" id="submitSpec" >提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/product/add.js"></script>
	<script type="text/javascript">
		laydate.render({
			elem: '#createTime',
			type: 'datetime'
		});
		laydate.render({
			elem: '#updateTime',
			type: 'datetime'
		});
		function udpateFileUrl(obj){
			var fileURL = getObjectURL(obj.files[0]);
			if(fileURL) {
				$(obj).next().children("img").attr("src",fileURL);
			}
		}
		
		//建立一個可存取到該file的url
		function getObjectURL(file) {
			var url = null ; 
			if (window.createObjectURL!=undefined) { // basic
				url = window.createObjectURL(file) ;
			} else if (window.URL!=undefined) { // mozilla(firefox)
				url = window.URL.createObjectURL(file) ;
			} else if (window.webkitURL!=undefined) { // webkit or chrome
				url = window.webkitURL.createObjectURL(file) ;
			}
			return url;
		}
	</script>
</body>
</html>
