<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/img/sy-ys.png" type="image/x-icon"/>
<link rel="stylesheet" href="css/css.css" type="text/css">
<link rel="stylesheet" href="plugins/dialog/diglog.css" type="text/css">
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
<script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
<!-- <script type="text/javascript" src="/oauth2/system.js"></script> -->
<script type="text/javascript" src="/js/libs/storge.js"></script>
<script type="text/javascript" src="/js/libs/math.uuid.js"></script>
<script type="text/javascript" src="/js/libs/common.js"></script>
<script type="text/javascript" src="/js/libs/oauth2.js"></script>
<script type="text/javascript" src="/js/libs/set.js"></script>
<script type="text/javascript" src="/plugins/dialog/dialog.js"></script>

<!-- <script type="text/javascript" src="/js/libs/oauth2_token_listener.js"></script> -->
<script type="text/javascript" src="/plugins/picker/city.js"></script>
<script type="text/javascript" src="/plugins/picker/picker.min.js"></script>
<script type="text/javascript" src="/plugins/picker/setup.js"></script>
<title>新增收货地址</title>
</head>
<body>
<div class="Top"><span onclick="javascript:window.location.href=$.go('/account/address.html');"></span><span style="font-size: 15px">新增收货地址</span></div>
<form>
	<div class="new-dizhi bg-white" style="font-size: 15px;">
	    <input type="hidden" name="id" th:value="${address.id}"/>
		<p><i>收货人</i><input type="text" name="consignee" th:value="${address.consignee}"/></p>
	    <p><i>联系电话</i><input type="text" name="mobile" th:value="${address.mobile}"/></p>
	    <p><i>所在地区</i><span class="addressSelected">请选择</span></p>
	    <p><i>详细地址</i><textarea cols="30" rows="10" placeholder="请输入详细地址信息，如道路、门牌号、小区、楼栋号、单元室等" name="address" th:text="${address.address}"></textarea></p>
	    <p><i>地址别名</i><input type="text" name="name" th:value="${address.name}"/></p>
	    <p class="moren on">设置默认地址</p>
	</div>
	 <button type="submit" id="save-button" class="baocun font-28">保存</button>
</form>
<script type="text/javascript">
var pickerSetup = null;
var areaCode = null;
$(function () {
	pickerSetup = new PickerSetup({
    	selected: [0,0,0],
		title: "请选择地区",
		onSelected: function(selected,text){
			$(".addressSelected").html(text.toString().replace(new RegExp(",","gm")," "));
			areaCode = selected.toString();
		}
	});
	
	$(".addressSelected").click(function(){
		pickerSetup.show();
	});
	
	$(".moren").click(function(){
		$(this).toggleClass("on");
	});
	
	$('#save-button').click(function(event) {
		event.preventDefault();
		var address = {};
		address.id = $("input[name=id]").val();
		address.consignee = $("input[name=consignee]").val();
		address.areaCode = areaCode;
		address.address = $("textarea[name=address]").val();
		address.name = $("input[name=name]").val();
		address.mobile = $("input[name=mobile]").val();
		address.defaultFlag = $(".moren").hasClass("on")? 0: 1;
		
		if(!address.consignee || address.consignee == '' || address.consignee.length == 0){
			alert("请您填写收货人姓名");
			return;
		}
		if(!address.areaCode || address.areaCode == '' || address.areaCode.length == 0){
			alert("请您填写完整的地区信息");
			return;
		}
		if(!address.address || address.address == '' || address.address.length == 0){
			alert("请您填写收货人详细地址");
			return;
		}
		if(!address.mobile || address.mobile == '' || address.mobile.length == 0){
			alert("请您填写收货人手机号码");
			return;
		}
		var l1 = $.loading().show({content:"处理中..."});
		$.ajax({
			type : "POST",
			url : "/information/address/update",
			contentType: "application/json",
		    data: JSON.stringify(address),
			dataType : "json",
			success : function(result) {
				l1.hide();
				if (result.code == 0) {//添加成功
					alert("保存成功！");
					window.location.href = '/information/address/list';
				} else {
					alert(result.msg);
				}
			}
		});
	});
});
</script>
</body>
</html>

