<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.product.dao.CategoryDao">

	<select id="get" resultType="com.meiguo.product.domain.CategoryDO">
		select `id`,`name`,jiangguo_flag,`create_time`,`create_by`,`update_time`,`update_by`,`remarks` from product_category where id = #{value}
	</select>

	<select id="list" resultType="com.meiguo.product.domain.CategoryDO">
		select `id`,status,`name`,jiangguo_flag,`create_time`,`create_by`,`update_time`,`update_by`,`remarks` from product_category where deleteEnable=0
       
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="jiangguo_flag != null and jiangguo_flag != ''"> and jiangguo_flag = #{jiangguoFlag} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  	
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from product_category where deleteEnable=0
		  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		
	</select>
	 
	<insert id="save" parameterType="com.meiguo.product.domain.CategoryDO" useGeneratedKeys="true" keyProperty="id">
		insert into product_category
		(
			`name`, 
			`create_time`, 
			`create_by`, 
			`update_time`, 
			`update_by`, 
			`remarks`,
			 jiangguo_flag,
			 status
		)
		values
		(
			#{name}, 
			#{createTime}, 
			#{createBy}, 
			#{updateTime}, 
			#{updateBy}, 
			#{remarks},
			#{jiangguoFlag},
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.meiguo.product.domain.CategoryDO">
		update product_category 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="deleteEnable != null">`deleteEnable` = #{deleteEnable}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="jiangguoFlag != null">`jiangguo_flag` = #{jiangguoFlag}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from product_category where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from product_category where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>