<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.product.dao.ProductDao">

	<select id="get" resultType="com.meiguo.product.domain.ProductDO">
		select `id`,url,spec_id,`product_number`,`category_id`,`name`,`create_time`,`create_by`,`update_time`,`update_by`,`remarks` from product_product where id = #{value}
	</select>

	<select id="list" resultType="com.meiguo.product.domain.ProductDO">
		select pp.id,pp.url,pp.status,pp.product_number,pc.name category_name,pp.name,pp.create_time,pp.create_by,pp.update_time,pp.update_by,pp.remarks from product_product pp,product_category pc 
        where pp.category_id=pc.id and pp.deleteEnable=0
		  		  <if test="productNumber != null and productNumber != ''"> and product_number = #{productNumber} </if>
		  		  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
		  		  <if test="name != null and name != ''"> and pp.name = #{name} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="status != null and status != ''"> and pp.status = #{status} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>  
	
	<!-- <select id="listSpec" resultType="com.meiguo.product.domain.Spec_Product">
		select spec_product.id,product_spec.name,spec_product.remark from spec_product,product_spec where spec_product.spec_id=product_spec.id and  spec_product.product_id=#{id}
	</select> -->
	
 	<select id="count" resultType="int">
		select count(*) from product_product pp,product_category pc 
        where pp.category_id=pc.id and pp.deleteEnable=0 
		
		  		  <if test="productNumber != null and productNumber != ''"> and product_number = #{productNumber} </if>
		  		  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
		  		  <if test="name != null and name != ''"> and pp.name = #{name} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="status != null and status != ''"> and pp.status = #{status} </if>
		  		
	</select>
	 
	<insert id="save" parameterType="com.meiguo.product.domain.ProductDO" useGeneratedKeys="true" keyProperty="id">
		insert into product_product
		(
			`product_number`, 
			`category_id`, 
			`name`, 
			`create_time`, 
			`create_by`, 
			`update_time`, 
			`update_by`,
			 spec_id,
			`remarks`
		)
		values
		(
			#{productNumber}, 
			#{categoryId}, 
			#{name}, 
			#{createTime}, 
			#{createBy}, 
			#{updateTime}, 
			#{updateBy}, 
			#{specId},
			#{remarks}
		)
	</insert>
	 
	 
	 <!-- <insert id="saveSpec" parameterType="com.meiguo.product.domain.Spec_Product" useGeneratedKeys="true" keyProperty="id">
		insert into spec_product
		(
			`product_id`, 
			`remark`, 
			`spec_id`
		)
		values
		(
			#{productId}, 
			#{remark}, 
			#{specId}
		)
	</insert> -->
	<update id="update" parameterType="com.meiguo.product.domain.ProductDO">
		update product_product 
		<set>
			<if test="status != null">`status` = #{status}, </if>
			<if test="productNumber != null">`product_number` = #{productNumber}, </if>
<!-- 			<if test="categoryId != null">`category_id` = #{categoryId}, </if> -->
<!-- 			<if test="name != null">`name` = #{name}, </if> -->
			<if test="createTime != null">`create_time` = #{createTime}, </if>
<!-- 			<if test="specId != null">`spec_id` = #{specId}, </if>  -->
			<if test="deleteEnable != null">`deleteEnable` = #{deleteEnable}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	
	<!-- <update id="updateSpec" parameterType="com.meiguo.product.domain.Spec_Product">
		update spec_product set remark=#{remark} where id = #{id}
	</update> -->
	<delete id="remove">
		delete from product_product where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from product_product where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>