<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meiguo.information.dao.UserChengjiuMidDao">

	<select id="get" resultType="com.meiguo.information.domain.UserChengjiuMidDO">
		select `id`,`user_id`,`chengjiu_id`,`chengjiu_time`,`beiyong1`,`beiyong2`,`beiyong3` from t_user_chengjiu_mid where id = #{value}
	</select>
	
	<select id="getListId" resultType="java.util.Map">
		select tu.id , tuc.id , tuc.user_id, tuc.chengjiu_id , tuc.chengjiu_time , tc.id ,
			tc.chengjiu_name , tc.chengjiu_ico , tc.chengjiu_demand , tc.reward 
		from t_user tu ,t_chengjiu_add tc , t_user_chengjiu_mid tuc
		where tu.id = tuc.user_id and tc.id = tuc.chengjiu_id and tuc.user_id = #{value}			
	</select>
	
	<select id="list" resultType="com.meiguo.information.domain.UserChengjiuMidDO">
		select `id`,`user_id`,`chengjiu_id`,`chengjiu_time`,`beiyong1`,`beiyong2`,`beiyong3` from t_user_chengjiu_mid
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="chengjiuId != null and chengjiuId != ''"> and chengjiu_id = #{chengjiuId} </if>
		  		  <if test="chengjiuTime != null and chengjiuTime != ''"> and chengjiu_time = #{chengjiuTime} </if>
		  		  <if test="beiyong1 != null and beiyong1 != ''"> and beiyong1 = #{beiyong1} </if>
		  		  <if test="beiyong2 != null and beiyong2 != ''"> and beiyong2 = #{beiyong2} </if>
		  		  <if test="beiyong3 != null and beiyong3 != ''"> and beiyong3 = #{beiyong3} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_user_chengjiu_mid
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="chengjiuId != null and chengjiuId != ''"> and chengjiu_id = #{chengjiuId} </if>
		  		  <if test="chengjiuTime != null and chengjiuTime != ''"> and chengjiu_time = #{chengjiuTime} </if>
		  		  <if test="beiyong1 != null and beiyong1 != ''"> and beiyong1 = #{beiyong1} </if>
		  		  <if test="beiyong2 != null and beiyong2 != ''"> and beiyong2 = #{beiyong2} </if>
		  		  <if test="beiyong3 != null and beiyong3 != ''"> and beiyong3 = #{beiyong3} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.meiguo.information.domain.UserChengjiuMidDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_user_chengjiu_mid
		(
			`user_id`, 
			`chengjiu_id`, 
			`chengjiu_time`, 
			`beiyong1`, 
			`beiyong2`, 
			`beiyong3`
		)
		values
		(
			#{userId}, 
			#{chengjiuId}, 
			#{chengjiuTime}, 
			#{beiyong1}, 
			#{beiyong2}, 
			#{beiyong3}
		)
	</insert>
	 
	<update id="update" parameterType="com.meiguo.information.domain.UserChengjiuMidDO">
		update t_user_chengjiu_mid 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="chengjiuId != null">`chengjiu_id` = #{chengjiuId}, </if>
			<if test="chengjiuTime != null">`chengjiu_time` = #{chengjiuTime}, </if>
			<if test="beiyong1 != null">`beiyong1` = #{beiyong1}, </if>
			<if test="beiyong2 != null">`beiyong2` = #{beiyong2}, </if>
			<if test="beiyong3 != null">`beiyong3` = #{beiyong3}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_user_chengjiu_mid where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_user_chengjiu_mid where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>